@CHARSET "UTF-8";


body {
    background: url(../images/background.png) repeat;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif; 
    font-size:12px; 
    color:#444;
}

.clearfix:after {
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clearfix {display: inline-block;}
html[xmlns] .clearfix {display: block;}
* html .clearfix {height: 1%; overflow: visible;}

a {
	text-decoration: none;
    color: #0090FF;
}
a:hover {
	text-decoration: underline;
}
.ui-widget-content a {
	text-decoration: none;
    color: #0090FF;
}
.ui-widget-content a {
	text-decoration: underline;;
}


/* MENU PRINCIPAL */ 
.rf-tb{ border: none; background: none; background-color: #625c59; padding: 0 25px;}
.menu-top .rf-tb-itm { padding:0px; background:none;}
.menu-top .rf-ddm-lbl.rf-ddm-sel { background:none; background-color:#f8f8f8; color:#444; }
.menu-top .rf-ddm-lbl.rf-ddm-sel .rf-ddm-lbl-dec { background:none; padding:12px 20px;;}
.menu-top .rf-ddm-lbl.rf-ddm-unsel .rf-ddm-lbl-dec { background:none; padding:12px 20px;}
.menu-top .rf-ddm-lbl { padding:0px; border-left:1px solid #a9a5a4;}
.rf-ddm-lbl, .rf-ddm-lbl-dis { font-family:Arial, Helvetica, sans-serif; font-size:14px;}


/* SUBMENU */ 
.rf-ddm-lst { background-color:#F8F8F8;}
.menu-top .rf-ddm-lst { border:none;}
.rf-ddm-lst-bg { border:1px solid #ccc; border-top:none;}
.menu-top .rf-ddm-itm-sel, .menu-top .rf-ddm-itm-unsel { padding: 5px 35px 5px 20px; border-bottom:1px solid #F8F8F8;}
.menu-top .rf-ddm-itm-sel { background-color:#fff; border-bottom:1px solid #ccc;}
.rf-ddm-itm { font-family:Arial, Helvetica, sans-serif; font-size:12px}
.menu-top .rf-ddm-itm-lbl { color:inherit; color:#444;}
.rf-ddm-nd { width:6px; height:8px; top:8px;} /*icono*/


/* USER MENU */ 
.user-menu {  background-color:#fff; border-bottom:1px solid #efefef; position: relative; display: table; width: 100%;}
.user-menu-inner {margin:5px 30px; font-size:11px;float: right; text-align: right;   margin: 5px 10px 0 10px;}
.user-menu-inner a { background-color:#888; color:#fff; text-decoration:none; padding:2px 6px; margin:0 8px 0 4px; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius: 4px ; -ms-border-radius: 4px;}
.user-menu-inner a:hover { background-color:#d96938; text-decoration:none;}


/* DEFINICIONES GENERALES */
table, tbody, td, tr, div {margin: 0; padding: 0; border: 0; border-spacing: 0;}
.form-title {display: table;position: relative;width: 100%;}
h1 {font-family:Arial, Helvetica, sans-serif; font-size:22px; font-weight:normal; color:#666; text-shadow:0 1px 0 #FFFFFF; margin:0; line-height:40px;} 
h2 {font-size:16px; font-weight:normal;color:#444; text-shadow:0 1px 0 #FFFFFF; line-height:24px; margin:0 0 5px 0;}
div.separate { height:10px;}
div.horizontal-line {height:1px;background-color:#ccc;}
.form-title h1 { margin-bottom:-2px; border-bottom:2px solid #d96938; float: left;margin: 0;}
/*.form-title-text { margin:0;}*/
#main-wrap { margin-bottom:90px; overflow: hidden;}
div#content-wrap { margin:0 30px;}
div#form-content { margin:15px 0; /*float: left;*/}
div#footer { width:100%; background-color:#fff; border-top:1px solid #efefef; position:fixed; bottom:0px; margin:0; }
div#footer .footer-inner { margin:0;}
:focus {outline-color:#ddd; outline-width: 4px;}
.ui-datepicker{z-index:9999 !important;}
.notice {color:#f2021e;}
legend {font-weight: bold;}

td {vertical-align:top;}
td.align-middle{vertical-align:middle;}

/*td{vertical-align:top;}
td > label {margin-top: 4px}
*/



/********************* WIZARD *********************/
.ui-wizard > ul {background-color: #ddd; border-right: 1px solid #ccc;}
.ui-wizard, .ui-widget {font-family: Arial, Helvetica, sans-serif; font-size:12px; color:#444; padding: 0; margin: 0;}

/* STEEPS */
.ui-wizard-step-title {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    box-shadow: none;
    background-color: #ddd;
    border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px; -ms-border-radius: 0px;
    float: left;
    position: relative;
    display: block; 
}

.ui-wizard-step-title a{
    font-size: 14px;
    font-weight: normal;
    color: #666666;
    text-decoration: none;
    display: block;
    padding: 16px 8px 15px 28px;
}

.ui-wizard-step-title:before {
    left: 0%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-color: rgba(0, 0, 0, 0);
    border-left-color: #fff;
    border-width: 28px 22px;
    margin-top: -28px;
}

.ui-wizard-step-title:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-color: rgba(0, 0, 0, 0);
    border-left-color: #ddd;
    border-width: 25px 20px;
    margin-top: -25px;
}

.ui-wizard > ul li:nth-of-type(1) {z-index: 8;}
.ui-wizard > ul li:nth-of-type(2) {z-index: 7;}
.ui-wizard > ul li:nth-of-type(3) {z-index: 6;}
.ui-wizard > ul li:nth-of-type(4) {z-index: 5;}
.ui-wizard > ul li:nth-of-type(5) {z-index: 4;}
.ui-wizard > ul li:nth-of-type(6) {z-index: 3;}
.ui-wizard > ul li:nth-of-type(7) {z-index: 2;}
.ui-wizard > ul li:nth-of-type(8) {z-index: 1;}

/*
.ui-wizard-step-title.ui-state-hover {background-color: #6e6f73; border: none;}
.ui-wizard-step-title.ui-state-hover a {color: #ffffff; text-shadow: none;}
.ui-wizard-step-title.ui-state-hover:after { border-left-color: #6e6f73;}
*/
.ui-wizard-step-title.ui-state-highlight {background-color: #6e6f73; border: none;}
.ui-wizard-step-title.ui-state-highlight a {color: #ffffff; text-shadow: none;}
.ui-wizard-step-title.ui-state-highlight:after { border-left-color: #6e6f73;}


.ui-wizard > ul li:first-of-type:before {display: none;}
.ui-wizard > ul li:last-of-type:after   {display: none;}

.ui-wizard > ul li:first-of-type > a{padding-left: 20px;}
.ui-wizard > ul li:last-of-type > a{padding-right: 25px;}


/* ---- wizard IE8 ---- */
.ui-wizard > ul li {z-index: 8}
.ui-wizard > ul li + li {z-index: 7}
.ui-wizard > ul li + li +li {z-index: 6}
.ui-wizard > ul li + li +li +li {z-index: 5}
.ui-wizard > ul li + li +li +li +li{z-index: 4}
.ui-wizard > ul li + li +li +li +li +li{z-index: 3}
.ui-wizard > ul li + li +li +li +li +li +li{z-index: 2}
.ui-wizard > ul li + li +li +li +li +li +li +li{z-index: 1}

.ui-wizard > ul > li:first-child:before {display: none; visibility: hidden;}
.ui-wizard  ul li:last-child:after{display: none; visibility: hidden;}
/* -------- fin wizard IE8 -----------*/

/* CONTENT */
.ui-wizard-content {margin: 0;}
.ui-wizard-content #bartertemplate-form-basic-info {margin: 0 0 10px 0;}
.ui-widget-content { border: 1px solid #ddd; border-radius:0 0 4px 4px; -moz-border-radius:0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; -ms-border-radius: 0 0 4px 4px; margin: 0 0 5px 0;}
.ui-panel .ui-panel-content {padding: 15px; overflow: hidden; position:relative;}
.ui-panel .ui-widget-content > label:first-of-type { font-size: 16px; display: block; margin: 5px 0 15px 0px;}
td.formLabel{padding-right: 3px;}


/* PARTICULARES */
/* CP TREN - ORIGEN/DESTINO*/
#bartertemplate-form-basic-info .origin .label:nth-of-type(3) .formLabel {min-width: 55px;} 
.label-component.laidDate{padding-right: 7px;}
.label-component.chargeDate{padding-right: 50px;}
fieldset.destination {padding: 15px 10px 15px 0px; border-left: none; margin-top: 5px;}
fieldset.destination legend{padding-left: 5PX; font-weight: bold; text-transform: uppercase;}

/* CP TREN - DESCARGA*/
#bartertemplate-form-basic-info .dischargeTrain .label:nth-of-type(1) .formLabel {min-width: 190px;}
#bartertemplate-form-basic-info .dischargeTrain .label:nth-of-type(1) .formValue {width: auto;}
#bartertemplate-form-basic-info .dischargeTrain .label:nth-of-type(2) .formLabel {min-width: 120px;}
#bartertemplate-form-basic-info .dischargeTrain .label:nth-of-type(2) .formValue {width: auto;}
/*#bartertemplate-form-basic-info .dischargeTrain .label:nth-of-type(2) a {float: right; margin-left: 5px;} si dejan la gomita aplicar*/
#bartertemplate-form-basic-info .dischargeTrain .viewValueLabel {width: 130px;}

/* CP TREN - TRANSPORTE*/
#bartertemplate-form-basic-info .truckTransport .grid tr td:nth-of-type(2) .formLabel{ min-width: 145px;}

/* CP TREN - carga de vagon - modal*/
.qualityItem { padding: 15px 0; margin-top: 10px; border-top: 1px dotted #999;}
.ui-dialog .qualityItem input.smallInput[type="text"] { width: 50px;}
.ui-dialog .ui-dialog-content .qualityItem .ui-button.ui-button-text-only {margin: -8px 0 0 20px; padding: 6px 8px;}
.ui-dialog .qualityItem td:nth-of-type(2) .formValue{ width: 95px;}
.ui-dialog .qualityItem td:nth-of-type(3) .formValue{ width: 95px;}
#bartertemplate-form-basic-info .qualityItem td:nth-of-type(2) .formLabel{ min-width: 25px;}
#bartertemplate-form-basic-info .qualityItem td:nth-of-type(3) .formLabel{ min-width: 25px;}
.ui-dialog #bartertemplate-form-basic-info .qualityItem .ui-button.ui-button-text-only { margin: -10px 0px 0 0px;}
.ui-row-editor {display: inline-block;}

/* CP CAMION - granos transportados*/
#bartertemplate-form-basic-info .truckWeight td:nth-of-type(2) .formLabel {min-width: inherit;}
#bartertemplate-form-basic-info .truckWeight label {min-width: 48px; display: inline-block; padding: 4px 0 0 5px;}
#bartertemplate-form-basic-info .truckWeight label.required {min-width: 7px; display: inline-block; padding: 4px 0 0 5px;}
#bartertemplate-form-basic-info .truckWeight input.smallInput[type="text"], span.smallInput{ width: 160px;}
#bartertemplate-form-basic-info .truckWeight span.smallInput{ width: 160px;}

/* CP CAMION - descarga*/
#bartertemplate-form-basic-info .dischargeTruck tr:nth-of-type(1) td:nth-of-type(1) .formLabel {min-width: 177px;}
#bartertemplate-form-basic-info .dischargeTruck tr:nth-of-type(2) td table tr:nth-of-type(2) td:nth-of-type(1) .formLabel {min-width: 80px;}
#bartertemplate-form-basic-info .dischargeTruck tr:nth-of-type(2) td table tr:nth-of-type(2) td:nth-of-type(2) .formLabel {min-width: 80px;}
#bartertemplate-form-basic-info .dischargeTruck tr:nth-of-type(2) td table tr:nth-of-type(2) td:nth-of-type(2) .formValue {width: auto;}
.ui-wizard #bartertemplate-form-basic-info .dischargeTruck tr:nth-of-type(2) td:nth-of-type(2) input{min-width: 120px;}
#bartertemplate-form-basic-info .dischargeTruck .dischargeTruckWeight > tbody > tr td:nth-of-type(1) .formLabel {min-width: 90px;}
#bartertemplate-form-basic-info .dischargeTruck .dischargeTruckWeight > tbody > tr td:nth-of-type(2) .formLabel {min-width: 87px;}
#bartertemplate-form-basic-info .dischargeTruck .dischargeTruckWeight .viewValueLabel{width: 130px;}

/* CP CAMION - origen/destino*/
#bartertemplate-form-basic-info .origin .location-component .formLabel {width: auto; min-width: 100px;}
#bartertemplate-form-basic-info .destination .location-component .formLabel {width: auto; min-width: 100px;}

/* CP RT - origen/depositario*/
#bartertemplate-form-basic-info .depositary tr > td.label:first-of-type .formLabel {min-width: 145px;}


/* WIZZARD FOMS*/
/*.grid td {vertical-align:top;}
.grid td.label {padding-right: 25px;}*/
td.label {padding-right: 25px;}

/* WIZZARD MODALES*/
.ui-dialog td.label {padding-right: 25px;}
.ui-dialog td.label:nth-last-of-type(1) {padding-right: 10px;}


/******************* FIN WIZARD *******************/




/********************* FORMS *********************/

select {
    background: none;
    background-color: #FFF;
    border: 1px solid #CCCCCC;
    border-radius:4px; -moz-border-radius:4px; -webkit-border-radius: 4px ; -ms-border-radius: 4px;
    height:25px; line-height:25px;
    padding:2px 6px;
    margin-bottom:8px; 
    width: 239px; 
    margin-left: 3px;
}
textarea {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius:4px; -moz-border-radius:4px; -webkit-border-radius: 4px ; -ms-border-radius: 4px;
    padding:4px 6px;
    margin-bottom:8px;
    resize: none;
    width: 225px;
    margin-left: 3px;

}
input[type="text"], input[type="password"] {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius:4px; -moz-border-radius:4px; -webkit-border-radius: 4px ; -ms-border-radius: 4px;
    height:24px; line-height:24px;
    padding:0px 6px;
    margin-bottom:8px;	
    width: 225px;
    margin-left: 3px;

}
input[type="checkbox"]{margin-left: 10px;}

.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield, .ui-inputfield.ui-state-focus, 
.ui-widget-content .ui-inputfield.ui-state-focus, .ui-widget-header .ui-inputfield.ui-state-focus{
    border-radius:4px; -moz-border-radius:4px; -webkit-border-radius: 4px ; -ms-border-radius: 4px;
    background: white; border-color: #CCC; text-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;}

input.smallInput[type="text"], span.smallInput  {width: 90px;}

.formValue {width: auto;}
.formLabel { width: auto; min-width: 135px; vertical-align: top; padding-top: 4px;}
.viewValueLabel { 
    width: 215px; height: 24px; margin-bottom: 5px; margin-left:3px; 
    background-color: #f8f8f8; line-height: 24px; padding: 0px 6px; 
    border: 1px solid #ddd; border-radius: 4px; display: inline-block; 
}
label{display:inline-block;}
label.required {color: red; width: 7px;}

/*#bartertemplate-form-basic-info .formLabel{ width: auto; min-width: 135px; vertical-align: top; padding-top: 4px;}*/

input.datepicker[type="text"], span.calendar input { width:85px; text-transform: none;}
input.datetimepicker[type="text"],span.datetimepicker, span.calendar input { width:130px; text-transform: none;}

.ui-wizard textarea {min-height: 45px;}

textarea, input[type="text"], select { text-transform: uppercase;}

/*BUTTONS*/
.ui-button.ui-state-default, .ui-button.ui-state-default.ui-state-disabled, input[type="submit"] {
    font-size: 13px;
    padding: 6px 10px;
    height:auto;
    background: none;
    border: none;
    color: #fff;
    background-color: #d96938;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    border-radius:4px; -moz-border-radius:4px; -webkit-border-radius: 4px ; -ms-border-radius: 4px;
    -moz-box-shadow: 1px 1px 2px #fff; -webkit-box-shadow: 1px 1px 2px #fff; 
    box-shadow: 1px 1px 2px #fff;
    font-weight: normal;
    cursor: pointer;
}
.ui-button.ui-state-default.ui-confirmdialog-no {background-color: #a29b95;}
.ui-button.ui-state-default.ui-confirmdialog-no:hover {background-color: #726b66;}


.ui-button .ui-button-text, input[type="submit"] {color: #fff; line-height: normal; padding: 0 10px;}
.ui-button-without-bg, input.ui-button-without-bg, .ui-button.ui-state-default.ui-button-without-bg, input.ui-button-without-bg:hover {background:none; background-color:#fff;}
.ui-button.ui-widget.ui-state-default.ui-button-text-only {margin-right: 8px;}

.ui-button.ui-state-hover,.ui-button.ui-state-focus,.ui-button.ui-state-active, button:hover,input[type="reset"]:hover,input[type="submit"]:hover,input[type="button"]:hover{
    background: none;
    background-color: #fa9a10;  
    text-decoration:none; 
    border: 0 none; 
}
.ui-button.ui-state-default.ui-state-disabled { 
    background-color: #666;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity = 50);
    opacity: .50;
}
.ui-datepicker-trigger.ui-button-icon-only .ui-button-text {margin: 0; padding: 0;}
.ui-datepicker-trigger.ui-button.ui-state-default.ui-button-icon-only{ padding:0; border:none; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; margin: 0px 0 0 6px; width: 16px; }

.rightAlignedButton {float: right; /*margin-right: 20px;*/}
.rightAlignedButton .ui-button.ui-widget.ui-state-default.ui-button-text-only:last-of-type {margin-right: 0px;}

.form-btn-container {padding: 5px 0 0 0; float: right;}

.ui-state-default,.ui-state-hover {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/*EDICION MODAL - CALIDAD*/
.ui-datatable tr.ui-state-highlight {background: none; background-color: #fffeef; border: 1px solid #ddd; padding: 3px 0;}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight { color: #333; text-shadow: none;}
.ui-datatable input, .ui-datatable select {margin: 0;}


/* TABLE DATA */
.ui-datatable{margin: 10px 0;}
.ui-datatable table { border: none; border-top: 1px solid #ddd;}
.ui-datatable table tbody > tr:last-of-type {border-bottom: 3px solid #666; margin-bottom: 25px;}
.ui-datatable.scrollTable {overflow: auto;}
.ui-datatable.wagons {max-height: 275px;} /* entran 10 items*/
.ui-dialog .ui-datatable {max-height: 150px;} /* entran 5 items*/
/*span.its-command-icon a.its-command-icon-link {float: left; margin: 0 3px;}*/
.results .its-command-icon .ui-button.ui-widget.ui-state-default.ui-button-text-only {float: left; margin: 0 3px; padding: 0; width: 16px; height: 16px;}
.ui-datatable .ui-cell-editor-input { padding: 3px 5px;}
.ui-datatable .ui-row-editing select { width: 210px; margin: 3px;}
.ui-datatable .ui-datatable-data td,.ui-datatable .ui-datatable-data-empty td,.ui-datatable th,.ui-datatable tfoot td {	padding: 4px 5px;}
.ui-datatable th.ui-state-default {border: 1px solid #a8a8a8; background: #625c59; font-weight: normal; color: #FFF; text-shadow: none;}
.ui-datatable-scrollable-body {overflow: auto;}
.ui-datatable-scrollable-body::-webkit-scrollbar-thumb {background-color: #9e9e9e; border-width: 5px;}

.ui-datatable.report-result th{ width: 140px;}
.ui-datatable.report-result td { width: 140px; padding: 4px 10px;}

.ui-datatable .report-wagon  th.ui-state-default {background-color: #84807e;}
.report-result .report-wagon table > table {width:auto;}
.ui-datatable .report-wagon table {width:auto;}
.ui-datatable.report-result .report-wagon th { width: auto;}
.ui-datatable.report-result .report-wagon td { width: auto; min-width: 120px; }

.ui-datatable.report-result th.rowTogglerColumn {width: 25px;}
.ui-datatable.report-result td.rowTogglerColumn {width: 25px; padding: 4px 14px;}

.even-row,.ui-datatable .ui-widget-content.ui-datatable-odd {background-color: #f3f2ed;}
td.chkboxCol { width: 15px; text-align: center;}
td.actionCol {text-align: center;}

.ui-datalist-content.ui-widget-content {background: none;}
.ui-datalist-data {padding-left: 5px;}


/* AUTOCOMPLETE */
.ui-autocomplete-items.ui-widget-content {margin-bottom: 0;}
.ui-autocomplete-item {border: 1px solid #999;}
.ui-autocomplete-item.ui-state-highlight{border: 1px solid #999; background: none; background-color:#777; text-shadow: none; color:#fff;}
.ui-shadow {box-shadow:0 2px 5px rgba(0, 0, 0, 0.25);}


/* THEADER */
.ui-widget-header {border: none; background: none;}


/*PAGINADOR*/
.ui-datatable .ui-paginator { padding:5px 0 8px 0; background-color: #fff; }
.ui-paginator .ui-paginator-page, .ui-paginator .ui-paginator-next, .ui-paginator .ui-paginator-last, .ui-paginator .ui-paginator-first, 
.ui-paginator .ui-paginator-prev, .ui-paginator .ui-paginator-current { padding:2px 3px; background:none; background-color:#fff; 
 border:1px solid #ccc; color:#444; border-top:1px solid #ccc; border-right:1px solid #ccc; text-align: center; min-width: 12px;}
.ui-paginator .ui-paginator-page.ui-state-active { background: none; background-color: #d96938; border-color: #d96938; font-weight:normal; color: #fff;}
.ui-paginator-page:hover { background-color:#999; color:#fff; border-bottom:1px solid #666; border-right:1px solid #666;}
.ui-paginator .ui-paginator-current, .ui-paginator .ui-paginator-rpp-options{width: auto; margin-right:0; font-weight: normal;}
.ui-datatable table tfoot .ui-paginator { padding:8px 0px 5px 5px; }
.ui-paginator .ui-state-default .ui-icon {background-image: url(../images/ui-icons_0d4766_256x240.png);}


/****************   BUSQUEDAS   **********************/

fieldset {padding:15px; margin-bottom: 5px; background-color:#fff; border:1px solid #ddd; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius: 4px ; -ms-border-radius: 4px;}
fieldset .ui-widget-content { border: none; margin: 0; padding:0px;}
fieldset .ui-panel .ui-panel-titlebar{ background: none; background-color: #fff; border: none; padding: 10px 0;}
fieldset .ui-panel .ui-panel-content{ margin: 0; padding:0px;}
fieldset .formRow {padding-right: 25px; display: block;}
.formRow > td > label{min-width: 110px; display: block;}
tr.formRow {margin: 0 15px 0 10px; display: block;}
fieldset .advancedFiltersPanel .ui-panel-titlebar{background-color: #847e7c; margin-top: 15px; padding: 7px 10px; color: #fff; margin-bottom: 10px; text-shadow: 0px 1px 0px rgba(109,102,99,0.85);}
#billoflading-btn fieldset {padding: 0; border: none; margin: 0; background-color: inherit;}
fieldset .tableTittle{ color: #333; font-weight:bold; padding-left: 10px;}
fieldset .ui-dialog.ui-widget-content { padding: 20px}
fieldset .align-right { text-align: right;}

.filtered {background-color: #fff; color: #666;}
.ui-panel.results {margin-top: 15px;}

/*Buscador Adenda/RT */
.formSearch td > label {min-width: 140px; display: block;}
.formSearch .label-calendar {min-width:70px; width:auto}

/*Buscada Avanzada - Tren */
#bartertemplate-form-basic-info .advancedFiltersTrain > table tr > td:nth-of-type(2) .formLabel{ min-width:145px;}
.results .ui-panel-content > table { position: absolute; top:15px; right: 15px;}
.results .ui-button.ui-widget.ui-state-default.ui-button-text-only {}

/*MESSAGE*/
.ui-messages-info-summary,
.ui-messages-warn-summary,
.ui-messages-error-summary,
.ui-messages-fatal-summary, 
.ui-message-info-summary,
.ui-message-warn-summary,
.ui-message-error-summary,
.ui-message-fatal-summary {
	margin-left: 0;
}
.ui-messages ul {margin: 0 0 0 35px;}
.ui-messages-info, .ui-messages-warn, .ui-messages-error, .ui-messages-fatal { 
    margin: 5px 0; border-radius: 0;
}
.ui-messages-error,.ui-message-error {
    background: url(../images/msg_panel/msgpanel-bg_error.png) #FEE7E7 repeat-x top;
}
.ui-messages-info,.ui-message-info {
    color: #999999;
    background: url(../images/msg_panel/msgpanel-bg_success.png) #E1FDD3 repeat-x top;
}
.ui-messages-warn,.ui-message-warn {
    background: url(../images/msg_panel/msgpanel-bg_warn.png) #FDFECF repeat-x top;
}

.ui-messages .ui-datalist-content.ui-widget-content {border: 0; background: none; color: inherit;}

/*DIALOGS*/
.ui-dialog { padding: 20px; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius: 4px ; -ms-border-radius: 4px;}
.ui-dialog .ui-dialog-titlebar { padding:0 0 5px 0; margin:0 0 10px 0; border-bottom: 1px #888 solid;}
.ui-dialog .ui-dialog-title { font-size:20px; font-weight:normal; margin: 0;}
.ui-dialog .ui-dialog-content { padding:0; max-width: 920px;}
.ui-dialog .ui-dialog-content .ui-button.ui-button-text-only{ margin:10px 4px 0 4px;}
.growerDialogLabel { min-width:75px; padding-right:5px; width:auto;}
.ui-widget-overlay {}
.ui-shadow {box-shadow:0 2px 5px rgba(0, 0, 0, 0.4);}
.btn-container {text-align: right;}

/*confirm Dialogs*/
.confirm-dlg {width: 400px !important;}
.confirm-dlg .dlg-btn-container {/*width:98%;*/ float: right;}
.confirm-dlg .dlg-btn-container td {padding-left: 10px;}

.confirm-dlg .dlg-btn-container .ui-button-text-icon-left .ui-button-text {padding: 1px 10px 1px 26px;}
.confirm-dlg .dlg-btn-container td +td { text-align: right; }
.confirm-dlg span.dlg-message{font-size: 16px; padding:1px; }


/*FOOTER*/
div#footer .horizontal-line { display:none;}
div#footer .footer-left{ padding:0 0 0 30px; width:500px;}
div#footer .footer-left p{ font-size:11px; margin:5px 0 0; float:left; min-width:80px;}
div#footer .footer-right{ padding:0 30px 0 0;}
div#footer a { color:#333;}
div#footer a:hover { color:#222;}
div#footer ul.horizontal-menu { float:left; margin:16px 0 0 0; padding: 0;}
div#footer ul.horizontal-menu li { padding:0 10px 0 0; margin:0px 10px 0px 0; font-size:12px; color:#666; list-style: none; float: left; border-right: 1px solid #EEEEEE;cursor: pointer;}
.afip { float:left; margin:2px 20px 0 0;}
.afip img{ width:38px;}


/*ICONOS   .ui-widget button*/
a.its-command-icon-link {display:inline-block;text-indent: -9999999px; margin: 0 3px;}

.ui-icon-search, .ui-button-without-bg {border: none; -webkit-border-radius: 0; border-radius: 0;}
.icon-clear { width:16px; height:16px; background:url("../images/icons/set_gray.png") no-repeat -34px -51px transparent !important; }
.icon-addFile { width:16px; height:16px; background: url(../images/icons/set_gray.png) no-repeat transparent -85px 0px !important;}
.icon-trash {width: 16px; height: 16px; background: url(../images/icons/set_gray.png) no-repeat transparent -17px -17px !important;}
.icon-pencil, .ui-datatable .ui-row-editor .ui-icon-pencil  {width: 16px; height: 16px; background: url("../images/icons/set_gray.png") no-repeat 0 -51px transparent !important;}
.icon-eye {width: 16px; height: 16px; background: url("../images/icons/set_gray.png") no-repeat -17px -51px transparent !important;}
.icon-rubber {width: 16px; height: 16px; background: url("../images/icons/set_gray.png") no-repeat -34px -51px transparent !important;}
.icon-textarea {float: left; margin-top: 2px;}
.ui-datepicker-trigger.ui-button-icon-only .ui-icon-calendar { background:url("../images/icons/set_gray.png") no-repeat -17px -34px transparent;}
.ui-icon-search, .ui-button-without-bg .ui-icon.ui-icon-search {width:16px; height:16px; margin:-8px 0 0 -8px; background:url("../images/icons/set_gray.png") no-repeat 0 0 transparent !important;}
.ui-datepicker-trigger { background:url("../images/icons/set_gray.png") no-repeat -17px -34px transparent;}
.ui-icon-circle-triangle-e {background-position: 0px -192px !important; }
.ui-icon-circle-triangle-s {background-position: -16px -193px !important;}
.ui-widget button.ui-datepicker-trigger {background: url("../images/icons/set_gray.png") no-repeat -17px -34px transparent; border: none; height: 16px; width: 16px; margin-left: 5px; cursor: pointer;}
.ui-widget button.ui-datepicker-trigger:hover{background: url("../images/icons/set_gray.png") no-repeat -17px -34px transparent; border: none; height: 16px;}
.ui-icon-check {width: 16px; height: 16px; background: url("../images/icons/set_gray.png") no-repeat -51px -52px transparent !important;}
.ui-icon-close {width: 16px; height: 16px; background: url("../images/icons/set_gray.png") no-repeat -50px -34px transparent !important;}
.ui-icon-profile {width: 16px; height: 16px; background: url("../images/icons/set_gray.png") no-repeat -102px 0px transparent !important;}
.ui-state-default .ui-icon,.ui-datatable .ui-state-default .ui-sortable-column-icon.ui-icon	{
	background-image:url(../images/ui-icons_ffffff_256x240.png);}	
.icon-delete-file { background:url("../images/icons/set_gray.png") no-repeat 0px -34px transparent; width: 16px; height: 16px;}

.table-header-button-e {width: 16px; height: 16px; background: url("../images/ui-icons_ffffff_256x240.png") no-repeat 0px -192px transparent !important;}
.table-header-button-s {width: 16px; height: 16px; background: url("../images/ui-icons_ffffff_256x240.png") no-repeat -16px -193px transparent !important;}


/*Disabled components*/
 .ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
    opacity: 1;
    filter: Alpha(Opacity=100);
}

/* Basic style for all the tooltips. */
.tooltip {font-weight: bold;}
.left-align { text-align: left;}
.right-align {text-align: right;}
.center-align-width {width: 100%; text-align: center;}


/* File Upload component */
.fileUploadPanel .ui-panel .ui-panel-content {padding: 15px 0;}
.fileUploadPanel .fileUploadLabel {display: inline-block; vertical-align: top; font-size: 12px; height: 24px; line-height: 24px; padding: 0px 6px; margin-bottom: 8px;}
.fileUploadPanel .fileUploadLabel.fileUploadFileName {border: 1px solid #CCC; border-radius: 4px; margin-left: 5px; width: 300px;}
.fileUploadPanel .clearButton {display: inline-block; margin-left: 3px;}
.fileUploadPanel .ui-fileupload-content { border: 0;}



/* Basic style for download files */
.downloadFilePanel {border: 0;}
.downloadFilePanel .ui-panel-content.ui-widget-content{min-height: 30px; padding: 0 0 0 3px;}


/* Basic style for download files */
.downloadFileContainer {display: inline-block; border: 1px solid #d3d3d3; height: 18px; min-width:160px;padding: 3px;border-radius: 3px;margin: 0px 3px 3px 0px;}
.downloadFileContainer a{margin: 0px 5px; float:left;}
.downloadFileContainer a:last-of-type{ margin: 0px 5px; float:right;}

.saveSuccess .downloadFileContainer {margin-top: 5px;}
.downloadFileContainer .ui-panel-content.ui-widget-content { padding: 0;}
.rowTogglerColumn {width: 2%;}







/*****************  EN TESTEO  *****************/

.w1000-10 {margin: 0;}
/*TRANSPORT ICONS*/
.type-transport {
    display: block;
    position: relative;
    width: 200px;
    height: 150px;
    background-color: #fff;
    border: 1px solid #e3e5ef;
    padding: 5px;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    float: left;
    margin-left: 10px;
}

/* Nombre */
.type-transport .name {
    position: absolute;
    bottom: 3px;
    width: 200px;
    padding: 5px 0;
    color: #ffffff;
    text-align: center;
    font-family: "Arial", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    background-color: #6f7074;
}

/* Icono */
.type-transport .t-icon {
    background-image: url("../images/icons/iconos-transporte.png");
    margin: 25px auto;
}

.type-transport .t-icon.truck {
    background-position: 0px 0px;
    width: 122px;
    height: 64px;
}

.type-transport .t-icon.train {
    background-position: -123px 0px;
    width: 166px;
    height: 65px;
}

.type-transport .t-icon.boat {
    background-position: -290px 0px;
    width: 137px;
    height: 64px;
}

/* HOVERS */
.type-transport:hover {
    background-color: #6f7074;
}

.type-transport:hover .t-icon.truck {
    background-position: 0px -66px;
}

.type-transport:hover .t-icon.train {
    background-position: -123px -66px;
}
.type-transport:hover .t-icon.boat {
    background-position: -290px -66px;
}

/*TRANSPORT ICONS*/


