.clearfix:after {
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clearfix {display: inline-block;}
html[xmlns] .clearfix {display: block;}
* html .clearfix {height: 1%; overflow: visible;}


body {
font-family: Arial, Helvetica, sans-serif;
font-size:12px;
color:#444;
}


/*LOGIN*/
#loginBox { width:900px;  margin-top:-155px; min-height:240px; margin-left:-450px; padding:0; left:50%; top:50%; position:absolute;
border-radius:10px; -moz-border-radius:10px; -webkit-border-radius: 10px ; -ms-border-radius: 10px; background:none; background-color:#fcfcfc; box-shadow:0 0 2px rgba(0, 0, 0, 0.25) }
#loginPanel { margin-bottom:10px;}
.login-logo { padding:20px 30px; margin:0; width:389px; text-align:left;}
.login-logo span{ font-size:14px; float:left; margin:5px 0; color:#005838;}
.login-form { padding:25px 30px; margin:0; width:390px; min-height:10px;}
.login-form-reset {padding-top: 30px}
.login-form-change {padding-top: 30px; padding-bottom: 12px;}
.login-form h1{ font-size:18px; margin:10px 0 15px 0; line-height:21px; padding:4px 105px 0 0; color:#333; background:url(../images/logo_intacta.png) no-repeat right top; min-height:42px;}
.login-form-Col1 { width:280px;}
.login-error-panel { height:auto;}
.login-form input[type="text"], .login-form input[type="password"] { width:245px; margin-left:0px;}
.ui-messages.ui-widget { color:#D8000C;}

#loginBox.password { height:330px; margin-top:-200px;}
#loginBox.password .login-logo {background:url(../images/bg_new_pass.jpg) no-repeat right top; height:290px;
border-radius:10px 0px 0px 10px; -moz-border-radius:10px 0px 0px 10px; -webkit-border-radius: 10px 0px 0px 10px; -ms-border-radius: 10px 0px 0px 10px; padding-top: 22px;}

/* MENU PRINCIPAL */
.rf-tb{
    border: none;
    background: none;
    background-color: #625c59;
    padding: 0 25px;
}
.menu-top .rf-tb-itm { padding:0px; background:none;}
.menu-top .rf-ddm-lbl.rf-ddm-sel { background:none; background-color:#f8f8f8; color:#444; }
.menu-top .rf-ddm-lbl.rf-ddm-sel .rf-ddm-lbl-dec { background:none; padding:12px 20px;;}
.menu-top .rf-ddm-lbl.rf-ddm-unsel .rf-ddm-lbl-dec { background:none; padding:12px 20px;}
.menu-top .rf-ddm-lbl { padding:0px; border-left:1px solid #a9a5a4;}
.rf-ddm-lbl, .rf-ddm-lbl-dis { font-family:Arial, Helvetica, sans-serif; font-size:14px;}

/* SUBMENU */
.rf-ddm-lst { background-color:#F8F8F8;}
.menu-top .rf-ddm-lst { border:none;}
.rf-ddm-lst-bg { border:1px solid #ccc; border-top:none;}
.menu-top .rf-ddm-itm-sel, .menu-top .rf-ddm-itm-unsel { padding: 5px 35px 5px 20px; border-bottom:1px solid #F8F8F8;}
.menu-top .rf-ddm-itm-sel { background-color:#fff; border-bottom:1px solid #ccc;}
.rf-ddm-itm { font-family:Arial, Helvetica, sans-serif; font-size:12px}
.menu-top .rf-ddm-itm-lbl { color:inherit; color:#444;}
.rf-ddm-nd { width:6px; height:8px; top:8px;} /*icono*/


/* USER MENU */
.user-menu { background-color:#fff; border-bottom:1px solid #efefef;}
.user-menu-inner { margin:5px 30px; font-size:11px;}
.user-menu-inner a { background-color:#d96938; color:#fff; text-decoration:none; padding:2px 6px; margin:0 8px 0 4px; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius: 4px ; -ms-border-radius: 4px;}
.user-menu-inner a:hover { background-color:#666; text-decoration:none;}

/* TABS */
#user-registration-tabs{ margin:15px 0 10px 0; border-left:1px solid #ddd; padding-left:11px;}
#user-registration-tabs li{ background:none; background-color:#fff; line-height:31px; height:31px; color:#444;
border-top:1px solid #ddd; border-bottom:1px solid #ddd; padding:0px 15px; font-weight:normal; height:auto; margin-left:-11px;}
#user-registration-tabs li.user-registration-separator { width:11px; position:relative; height:31px;}
#user-registration-tabs li.user-registration-separator.last { margin:0; border:none;}
#user-registration-tabs li.user-registration-separator.user-registration-tab-active {}
#user-registration-tabs li.user-registration-tab-active { background-color:#444; color:#efefef;}

/* FIELDSETS */
fieldset, .ui-fieldset  { padding:12px 10px; background-color:#fff; border:1px solid #ccc; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius: 4px ; -ms-border-radius: 4px;}
.ui-fieldset  { padding:12px 10px; margin-bottom:10px;}
.ui-widget { font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#444;}
.ui-panelgrid-clean.ui-panelgrid td { height:auto; padding:1px;}
#userForm td.formCol0 { width:100px;}
.ui-panelgrid-clean.ui-panelgrid td.gridcell-label { padding:0 10px 0 40px;}


/* WIZARD */
.ui-wizard-step-title {
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -ms-border-radius: 0px;
    background: none;
    border: none;
    position: relative;
    float: left;
    display: block;
    /*line-height: 40px;*/
    font-size: 14px;
    font-weight: normal;
    box-shadow: none;
    background-color: #ddd;
    padding: 0;
    margin: 0;
}

.ui-wizard-step-title a{
    color: #666666;
    text-decoration: none;
    display: block;
    padding: 16px 8px 15px 28px;
}

.ui-wizard-step-title:before {
    left: 0%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-color: rgba(0, 0, 0, 0);
    border-left-color: #fff;
    border-width: 28px 22px;
    margin-top: -28px;
}

.ui-wizard-step-title:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-color: rgba(0, 0, 0, 0);
    border-left-color: #ddd;
    border-width: 25px 20px;
    margin-top: -25px;
}

.ui-wizard-step-title.ui-state-highlight {background-color: #eaeaea;}
.ui-wizard-step-title.ui-state-highlight a {color: #666; text-shadow: none;}
.ui-wizard-step-title.ui-state-highlight:after { border-left-color: #eaeaea;}

.ui-wizard-step-title.ui-state-hover {background-color: #6e6f73;}
.ui-wizard-step-title.ui-state-hover a {color: #ffffff; text-shadow: none;}
.ui-wizard-step-title.ui-state-hover:after { border-left-color: #6e6f73;}

.ui-wizard > ul li:nth-of-type(1) {z-index: 7}
.ui-wizard > ul li:nth-of-type(2) {z-index: 6}
.ui-wizard > ul li:nth-of-type(3) {z-index: 5}
.ui-wizard > ul li:nth-of-type(4) {z-index: 4}
.ui-wizard > ul li:nth-of-type(5) {z-index: 3}
.ui-wizard > ul li:nth-of-type(6) {z-index: 2}
.ui-wizard > ul li:nth-of-type(7) {z-index: 1}

.ui-wizard ul > li {z-index: 1}
.ui-wizard ul > li + li {z-index: 2}
.ui-wizard ul > li + li +li {z-index: 3}
.ui-wizard ul > li + li +li +li {z-index: 4}
.ui-wizard ul > li + li +li +li +li{z-index: 5}
.ui-wizard ul > li + li +li +li +li +li{z-index: 6}
.ui-wizard ul > li + li +li +li +li +li +li{z-index: 7}

.ui-wizard > ul li:first-of-type > a{padding-left: 20px;}
.ui-wizard > ul li:last-of-type > a{padding-right: 25px;}

.ui-wizard > ul li:last-child ul li:last-of-type:after {display: none;}

.ui-wizard > ul li:first-of-type:before {display: none;}

.ui-wizard > ul li:last-of-type:after { display: none;}

.ui-wizard-content {margin: 0;}

.ui-widget-content {
    border: 1px solid #efefef; border-top: none;
    border-radius:0 0 4px 4px; -moz-border-radius:0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; -ms-border-radius: 0 0 4px 4px;
    margin: 0 0 5px 0;
}

.ui-widget-content > label:first-of-type {
    font-size: 18px;
    display: block;
    margin: 0 0 9px 5px;
}

.ui-panel .ui-panel-content {padding: 1.4em 1em 1.125em 1em;}

/*
.ui-wizard .grid td {vertical-align: top;}

.ui-wizard .grid td > label {padding-top: 10px;}

.ui-wizard .grid .formLabel {padding-top: 10px;}

.ui-wizard .grid .formLabel > label {padding:7px 5px 0 0px;}
*/
.ui-wizard input[type="text"] {width: 245px;}
.ui-wizard textarea {width: 245px; min-height: 45px;}


/* TABLE DATA */
.ui-datatable table {
    border: none;
    border-top: 1px solid #ddd;
    margin-top: 10px;
}

.ui-datatable th.ui-state-default { background-color:#555;}
.ui-datatable th div.ui-dt-c, .ui-datatable .ui-datatable-data td div.ui-dt-c, .ui-datatable .ui-datatable-data-empty td div.ui-dt-c, .ui-datatable tfoot td div.ui-dt-c { padding:1px 0;}

.ui-datatable th.ui-sortable-column div.ui-dt-c{
    padding: 2px 16px 2px 0;
}

.ui-datatable table tbody > tr:last-of-type {border-bottom: 3px solid #666; margin-bottom: 25px;}


/*BUTTONS*/
.ui-button.ui-state-default, .ui-button.ui-state-default.ui-state-disabled, input[type="submit"] {
    background: none;
    background-color: #d96938;
    /*background-image: linear-gradient(to bottom, #4ad74a, #3ba63b);
    background-repeat: repeat-x;*/
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    border-radius:4px; -moz-border-radius:4px; -webkit-border-radius: 4px ; -ms-border-radius: 4px;
    -moz-box-shadow: 1px 1px 2px #fff; -webkit-box-shadow: 1px 1px 2px #fff; box-shadow: 1px 1px 2px #fff;
    border: 0 none;
    font-size: 13px;
    padding: 6px 10px;
    height:auto;}

.ui-button:hover { background-color: #45c845; background-image: linear-gradient(to bottom, #45c845, #348d34); text-decoration:none;}
.ui-button-without-bg, input.ui-button-without-bg, .ui-button.ui-state-default.ui-button-without-bg, input.ui-button-without-bg:hover {
 padding:0; border:none; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;}
.ui-datepicker-trigger.ui-button.ui-state-default.ui-button-icon-only{
 padding:0; border:none; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; width:30px;}
.btn-detail, .btn-gear, .btn-pay {width:16px;}

.ui-button.ui-state-hover,.ui-button.ui-state-focus,.ui-button.ui-state-active,
button:hover,input[type="reset"]:hover,input[type="submit"]:hover,input[type="button"]:hover{
    background: none;
    background-color: #fa9a10;
    text-decoration:none;
    border: 0 none;
    /*height: 50px;*/
}

/*ICON BUTTONS*/
.ui-button-text-icon-left .ui-button-text { padding:0 0 0 18px;}
td.actionCol .ui-button.ui-button-icon-only, td.actionCol a.icon-only { margin:1px 2px;}
.ui-button-without-bg .ui-icon.ui-icon-search { /*width:18px; height:18px;*/ margin-top:-10px;}
.ui-icon-search, .ui-button-without-bg .ui-icon.ui-icon-search { background-position:0 -35px !important;}

/*ICONOS*/
.ui-button-icon-only { width:16px;}
.icon-search { width:16px; height:16px; background:url("../images/icons/set_gray.png") no-repeat 0 0 transparent !important; }
/* .icon-clear  { width:16px; height:16px; background:url("../images/icons/set_gray.png") no-repeat 0 -34px transparent !important; } */
.icon-clear { width:16px; height:16px; background:url("../images/icons/set_gray.png") no-repeat -34px -51px transparent !important; }

.ui-icon-disk {width:16px; height:16px; background:url("../images/icons/set_gray.png") no-repeat -34px -17px transparent !important;  }
.ui-icon-print {width:16px; height:16px; background:url("../images/icons/set_gray.png") no-repeat -51px 0px transparent; }
.ui-fieldset-content .icon-clear { border-left:1px solid #ccc;}
.ui-datepicker-trigger.ui-button-icon-only .ui-icon-calendar { background:url("../images/icons/set_gray.png") no-repeat -17px -34px transparent;}

.ui-icon-trash,.ui-button-without-bg .ui-icon.ui-icon-trash { background:none !important; } /*redefine icon white*/
.ui-button .ui-icon.ui-icon-trash { width:16px; height:16px; background:url("../images/icons/set_white.png") no-repeat -17px -17px transparent !important; }
.ui-button.ui-button-without-bg .ui-icon.ui-icon-trash { width:16px; height:16px; margin:-8px 0 0 -8px; background:url("../images/icons/set_gray.png") no-repeat -17px -17px transparent !important; }


.ui-icon-disk,.ui-button-without-bg .ui-icon.ui-icon-disk { background:none !important; } /*redefine icon white*/
.ui-button .ui-icon.ui-icon-disk { width:16px; height:16px; background:url("../images/icons/set_white.png") no-repeat -34px -17px transparent !important; }
.ui-button.ui-button-without-bg .ui-icon.ui-icon-disk { width:16px; height:16px; margin:-8px 0 0 -8px; background:url("../images/icons/set_gray.png") no-repeat -34px -17px transparent !important; }


.ui-button-without-bg .ui-icon.ui-icon-detail{ width:16px; height:16px; margin:-8px 0 0 -8px; background:url("../images/icons/set_gray.png") no-repeat 0 0 transparent !important;}
.ui-button-without-bg .ui-icon.ui-icon-gear { width:16px; height:16px; margin:-8px 0 0 -8px; background:url("../images/icons/set_gray.png") no-repeat -17px 0 transparent !important;}
.ui-button-without-bg .ui-icon.ui-icon-extrato { width:16px; height:16px; margin:-8px 0 0 -8px; background:url("../images/icons/set_gray.png") no-repeat -34px 0 transparent !important;}
.ui-button-without-bg .ui-icon.ui-icon-print { width:16px; height:16px; margin:-8px 0 0 -8px; background:url("../images/icons/set_gray.png") no-repeat -51px 0px transparent !important;}
.ui-button-without-bg .ui-icon.ui-icon-pay { width:16px; height:16px; margin:-8px 0 0 -8px; background:url("../images/icons/set_gray.png") no-repeat -68px 0px transparent !important;}
.ui-button-without-bg .ui-icon.ui-icon-files { width:16px; height:16px; margin:-8px 0 0 -8px; background:url("../images/icons/set_gray.png") no-repeat -85px 0px transparent !important;}
.ui-icon-search, .ui-button-without-bg .ui-icon.ui-icon-search { width:16px; height:16px; margin:-8px 0 0 -8px; background:url("../images/icons/set_gray.png") no-repeat 0 0 transparent !important;}

.ui-icon-pdfReaderIcon, .ui-button-without-bg .ui-icon.ui-icon-pdfReaderIcon { width:16px; height:16px; margin:-8px 0 0 -8px; background:url("../images/icons/set_gray.png") no-repeat -51px -17px transparent !important;}
.ui-icon-undo, .ui-button-without-bg .ui-icon.ui-icon-undo { width:16px; height:16px; margin:-8px 0 0 -8px; background:url("../images/icons/set_gray.png") no-repeat -34px -34px transparent !important;}
.ui-icon-infoBillingAction, .ui-button-without-bg .ui-icon.ui-icon-infoBillingAction { width:16px; height:16px; margin:-8px 0 0 -8px; background:url("../images/icons/set_gray.png") no-repeat -68px -17px transparent !important;}
.ui-icon-grower, .ui-button-without-bg .ui-icon.ui-icon-grower { width:16px; height:16px; margin:-8px 0 0 -8px; background:url("../images/icons/set_gray.png") no-repeat -51px -34px transparent !important;}

.icon-status-positive{width:16px; height:16px; background:url("../images/icons/set_gray.png") no-repeat -68px -34px transparent !important; }
.icon-status-negative{width:16px; height:16px; background:url("../images/icons/set_gray.png") no-repeat -85px -34px transparent !important; }
.icon-sync{width:16px; height:16px; background:url("../images/icons/set_gray.png") no-repeat -85px -17px transparent !important; }

.ui-button-without-bg .ui-icon.ui-icon-status-positive { width:16px; height:16px; margin:-8px 0 0 -8px; background:url("../images/icons/set_gray.png") no-repeat -68px -34px transparent !important;}
.ui-button-without-bg .ui-icon.ui-icon-status-negative{ width:16px; height:16px; margin:-8px 0 0 -8px; background:url("../images/icons/set_gray.png") no-repeat -85px -34px transparent !important;}
.ui-button-without-bg .ui-icon.ui-icon-sync{ width:16px; height:16px; margin:-8px 0 0 -8px; background:url("../images/icons/set_gray.png") no-repeat -85px -17px transparent !important;}


/*FORMS*/
select {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius:4px; -moz-border-radius:4px; -webkit-border-radius: 4px ; -ms-border-radius: 4px;
    height:24px; line-height:24px;
    padding:4px 6px;
    margin-bottom:3px;
}
textarea {background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius:4px; -moz-border-radius:4px; -webkit-border-radius: 4px ; -ms-border-radius: 4px;
    padding:4px 6px;
    margin-bottom:3px;
}
input[type="text"], input[type="password"] {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius:4px; -moz-border-radius:4px; -webkit-border-radius: 4px ; -ms-border-radius: 4px;
    height:22px; line-height:22px;
    padding:0px 6px;
    margin-bottom:3px;
}
div#form-content { margin:15px 0; float: left;}
input.hasDatepicker[type="text"], span.calendar input { width:85px;}
#sale-search .formLabel { width:120px;}


/*MESSAGE*/
.ui-messages-info, .ui-messages-warn, .ui-messages-error, .ui-messages-fatal {
    border-radius:0; -moz-border-radius:0; -webkit-border-radius: 0; -ms-border-radius:0;
    margin: 5px 0;
   /* background: none;
    background-color: #ffefef;*/
   background: none;
   background-color: #D8000C;
   color: #fff;
   /*border-bottom: 3px solid;*/

}

/* ACORDION */
.ui-accordion-header.ui-state-default {background: linear-gradient(to bottom, #666666 0%, #444444 100%) repeat scroll 0 0 transparent;}
.ui-accordion-header.ui-state-default a, .ui-accordion-header.ui-state-default a:link, .ui-accordion-header.ui-state-default a:visited { color:#fff;}
.ui-accordion-header.ui-state-default .ui-icon { background-image:url("../images/ui-icons_ffffff_256x240.png");}
.ui-accordion-content.ui-widget-content { padding:10px;}

/*DIALOGS*/
.ui-dialog { padding: 20px; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius: 10px ; -ms-border-radius: 10px;}
.ui-dialog .ui-dialog-titlebar { padding:0 0 5px 0; border-bottom: 1px solid #ccc; margin:0 0 10px 0;}
.ui-dialog .ui-dialog-title { font-size:20px; font-weight:normal;}
.ui-dialog .ui-dialog-content { padding:0;}
.growerDialogLabel { min-width:75px; padding-right:5px; width:auto;}
.ui-widget-overlay {background: url("/images/ui-bg_flat_0_2d5972_40x100.png.jsf?ln=primefaces-aristo") repeat-x scroll 50% 50% #000000;}
.ui-shadow {box-shadow:0 2px 5px rgba(0, 0, 0, 0.4);}


/*UPLOAD FILES*/
.fileupload-content { padding:8px;}
.fileupload-buttonbar { padding:10px; margin:0 0 2px 0;}
.ui-button.fileinput-button { padding:4px 18px;}
.ui-widget-header {background: none; border: none;}
table.files .template-upload.ui-state-error td, table.files .template-upload  td { padding:4px 12px; float:left; min-height:15px;}
table.files .template-upload  td.cancel { padding:4px 4px;}
table.files .template-upload  td.start { padding:4px 4px; }
.files .preview {}
.files .name { min-width:175px;}
.files .size { min-width:65px;}
.files .error { min-width:145px;}
.ui-fileupload.ui-widget .files button { height:auto; padding-left:23px;}
.ui-fileupload.ui-widget .files button .ui-button-icon-left { left:4px;}
.ui-fileupload.ui-widget .cancel button { width:82px;}
.ui-fileupload.ui-widget .start button  { width:95px;}
.ui-progressbar { margin-top:2px;}


/*PAGINADOR*/
.ui-datatable .ui-paginator { padding:7px 5px 5px 5px;  text-align: right; }
.ui-paginator .ui-paginator-page, .ui-paginator .ui-paginator-pages, .ui-paginator .ui-paginator-next, .ui-paginator .ui-paginator-last,
.ui-paginator .ui-paginator-first, .ui-paginator .ui-paginator-prev, .ui-paginator .ui-paginator-current { padding:2px 3px;}
.ui-paginator .ui-paginator-page, .ui-paginator .ui-paginator-next, .ui-paginator .ui-paginator-last, .ui-paginator .ui-paginator-first,
.ui-paginator .ui-paginator-prev, .ui-paginator .ui-paginator-current { background:none; background-color:#fff; border:1px solid #ccc; color:#444; border-top:1px solid #ccc; border-right:1px solid #ccc; text-align: center;}
.ui-paginator .ui-paginator-page.ui-state-active { background: none; background-color: #d96938; border-color: #d96938; font-weight:normal;}
.ui-paginator-page:hover { background-color:#999; color:#fff; border-bottom:1px solid #666; border-right:1px solid #666;}
.ui-paginator .ui-paginator-current, .ui-paginator .ui-paginator-rpp-options{width: auto; margin-right:0;}


.ui-datatable table tfoot .ui-paginator { padding:15px 0px 5px 5px; }



/*LAYOUT*/
div#content-wrap { margin:0 30px;}
#main-wrap { margin-bottom:90px;}
div#footer { width:100%; background-color:#fff; border-top:1px solid #efefef; position:fixed; bottom:0px; margin:0; }
div#footer .footer-inner { margin:0;}


/*FOOTER*/
div#footer .horizontal-line { display:none;}
div#footer .footer-left{ padding:0 0 0 30px; width:500px;}
div#footer .footer-left p{ font-size:11px; margin:5px 0 0; float:left; min-width:80px;}
div#footer .footer-right{ padding:0 30px 0 0;}
div#footer a { color:#333;}
div#footer a:hover { color:#222;}

div#footer ul.horizontal-menu { float:left; margin:16px 0 0 0;}
div#footer ul.horizontal-menu li { padding:0 10px 0 0; margin:0px 10px 0px 0; font-size:12px; color:#666;}

.afip { float:left; margin:2px 20px 0 0;}
.afip img{ width:38px;}

/*Error Pages*/
.e-500{ margin:auto; width:417px; text-align:center;}

/* DEFINICIONES GENERALES */
.page-login { background:url(../images/bg_inicio.jpg) no-repeat center top;}

h1 {font-family:Arial, Helvetica, sans-serif; font-size:22px; font-weight:normal; color:#666; text-shadow:0 1px 0 #FFFFFF; margin:0; line-height:40px;}
h2 {font-size:16px; font-weight:normal; color:#444; text-shadow:0 1px 0 #FFFFFF; line-height:24px; margin:0 0 5px 0;}
fieldset h2 { margin-bottom:5px;}
.form-title h1 { margin-bottom:-2px; border-bottom:2px solid #d96938;}
.form-title-text { margin:0;}

div.separate { height:10px;}
div.horizontal-line { height:1px; background-color:#ccc;}

div#container {padding-bottom: 90px; overflow: hidden;}

:focus {outline-color:#ddd; outline-width: 4px;}

/*TERMINOS Y CONDICIONES*/
.terms { max-width:840px;}
.terms p{ margin:5px 0 15px 0;}
.terms h1{  margin:10px 0 20px 0;}
.terms h4{ margin:15px 0 2px 0; color:#333;}