.clearfix:after {
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clearfix {display: inline-block;}
html[xmlns] .clearfix {display: block;}
* html .clearfix {height: 1%; overflow: visible;}


body { 
    font-family: Arial, Helvetica, sans-serif; 
    font-size:12px; 
    color:#444;
}

/* MENU PRINCIPAL */ 
.rf-tb{ border: none; background: none; background-color: #625c59; padding: 0 25px;}
.menu-top .rf-tb-itm { padding:0px; background:none;}
.menu-top .rf-ddm-lbl.rf-ddm-sel { background:none; background-color:#f8f8f8; color:#444; }
.menu-top .rf-ddm-lbl.rf-ddm-sel .rf-ddm-lbl-dec { background:none; padding:12px 20px;;}
.menu-top .rf-ddm-lbl.rf-ddm-unsel .rf-ddm-lbl-dec { background:none; padding:12px 20px;}
.menu-top .rf-ddm-lbl { padding:0px; border-left:1px solid #a9a5a4;}
.rf-ddm-lbl, .rf-ddm-lbl-dis { font-family:Arial, Helvetica, sans-serif; font-size:14px;}


/* SUBMENU */ 
.rf-ddm-lst { background-color:#F8F8F8;}
.menu-top .rf-ddm-lst { border:none;}
.rf-ddm-lst-bg { border:1px solid #ccc; border-top:none;}
.menu-top .rf-ddm-itm-sel, .menu-top .rf-ddm-itm-unsel { padding: 5px 35px 5px 20px; border-bottom:1px solid #F8F8F8;}
.menu-top .rf-ddm-itm-sel { background-color:#fff; border-bottom:1px solid #ccc;}
.rf-ddm-itm { font-family:Arial, Helvetica, sans-serif; font-size:12px}
.menu-top .rf-ddm-itm-lbl { color:inherit; color:#444;}
.rf-ddm-nd { width:6px; height:8px; top:8px;} /*icono*/


/* USER MENU */ 
.user-menu { background-color:#fff; border-bottom:1px solid #efefef;}
.user-menu-inner { margin:5px 30px; font-size:11px;}
.user-menu-inner a { background-color:#d96938; color:#fff; text-decoration:none; padding:2px 6px; margin:0 8px 0 4px; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius: 4px ; -ms-border-radius: 4px;}
.user-menu-inner a:hover { background-color:#666; text-decoration:none;}


/* DEFINICIONES GENERALES */
table, tbody, td, tr, div {margin: 0; padding: 0; border: 0; border-spacing: 0;}
h1 {font-family:Arial, Helvetica, sans-serif; font-size:22px; font-weight:normal; color:#666; text-shadow:0 1px 0 #FFFFFF; margin:0; line-height:40px;} 
h2 {font-size:16px; font-weight:normal;color:#444; text-shadow:0 1px 0 #FFFFFF; line-height:24px; margin:0 0 5px 0;}
div.separate { height:10px;}
div.horizontal-line {height:1px;background-color:#ccc;}
.form-title h1 { margin-bottom:-2px; border-bottom:2px solid #d96938;}
.form-title-text { margin:0;}

#main-wrap { margin-bottom:90px; overflow: hidden;}
div#content-wrap { margin:0 30px;}
div#form-content { margin:15px 0; /*float: left;*/}

div#footer { width:100%; background-color:#fff; border-top:1px solid #efefef; position:fixed; bottom:0px; margin:0; }
div#footer .footer-inner { margin:0;}

:focus {outline-color:#ddd; outline-width: 4px;}



/********************* WIZARD *********************/

.ui-wizard > ul {background-color: #ddd; border-right: 1px solid #ccc;}
.ui-wizard, .ui-widget {font-family: Arial, Helvetica, sans-serif; font-size:12px; color:#444; padding: 0; margin: 0;}

/* STEEPS */

.ui-wizard-step-title {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    box-shadow: none;
    background-color: #ddd;
    border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px; -ms-border-radius: 0px;
    float: left;
    position: relative;
    display: block; 
}

.ui-wizard-step-title a{
    font-size: 14px;
    font-weight: normal;
    color: #666666;
    text-decoration: none;
    display: block;
    padding: 16px 8px 15px 28px;
}

.ui-wizard-step-title:before {
    left: 0%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-color: rgba(0, 0, 0, 0);
    border-left-color: #fff;
    border-width: 28px 22px;
    margin-top: -28px;
}

.ui-wizard-step-title:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-color: rgba(0, 0, 0, 0);
    border-left-color: #ddd;
    border-width: 25px 20px;
    margin-top: -25px;
}

.ui-wizard > ul li:nth-of-type(1) {z-index: 8;}
.ui-wizard > ul li:nth-of-type(2) {z-index: 7;}
.ui-wizard > ul li:nth-of-type(3) {z-index: 6;}
.ui-wizard > ul li:nth-of-type(4) {z-index: 5;}
.ui-wizard > ul li:nth-of-type(5) {z-index: 4;}
.ui-wizard > ul li:nth-of-type(6) {z-index: 3;}
.ui-wizard > ul li:nth-of-type(7) {z-index: 2;}
.ui-wizard > ul li:nth-of-type(8) {z-index: 1;}

.ui-wizard-step-title.ui-state-hover {background-color: #6e6f73; border: none;}
.ui-wizard-step-title.ui-state-hover a {color: #ffffff; text-shadow: none;}
.ui-wizard-step-title.ui-state-hover:after { border-left-color: #6e6f73;}

.ui-wizard > ul li:first-of-type:before {display: none;}
.ui-wizard > ul li:last-of-type:after   {display: none;}

.ui-wizard > ul li:first-of-type > a{padding-left: 20px;}
.ui-wizard > ul li:last-of-type > a{padding-right: 25px;}


/* CONTENT */
.ui-wizard-content {margin: 0;}
.ui-wizard-content #bartertemplate-form-basic-info {margin: 0 0 10px 0;}
.ui-widget-content { border: 1px solid #efefef; border-top: none; border-radius:0 0 4px 4px; -moz-border-radius:0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; -ms-border-radius: 0 0 4px 4px; margin: 0 0 5px 0;}
.ui-panel .ui-panel-content {padding: 15px; overflow: hidden;}
.ui-panel .ui-widget-content > label:first-of-type { font-size: 16px; display: block; margin: 5px 0 15px 0px;}

/* PARTICULARES */
/* CP TREN - DESCARGA*/
#bartertemplate-form-basic-info .dischargeTrain .label:nth-of-type(1) .formLabel {min-width: 190px;}
#bartertemplate-form-basic-info .dischargeTrain .label:nth-of-type(1) .formValue {width: auto;}
#bartertemplate-form-basic-info .dischargeTrain .label:nth-of-type(2) .formLabel {min-width: 120px;}
#bartertemplate-form-basic-info .dischargeTrain .label:nth-of-type(2) .formValue {width: auto;}
#bartertemplate-form-basic-info .dischargeTrain .label:nth-of-type(2) a {float: right; margin-left: 5px;}
#bartertemplate-form-basic-info .dischargeTrain .viewValueLabel {width: 130px;}

/* WIZZARD FOMS*/
.ui-wizard-content .ui-button-text {margin-right: 8px;}
.grid .formValue {padding-right: 25px;}
.grid td {vertical-align:top;}
.grid td.label {padding-right: 25px;}

/********************* FIN WIZARD *********************/




/*FORMS*/

select {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius:4px; -moz-border-radius:4px; -webkit-border-radius: 4px ; -ms-border-radius: 4px;
    height:25px; line-height:25px;
    padding:2px 6px;
    margin-bottom:8px; 
    width: 240px;
    
}
textarea {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius:4px; -moz-border-radius:4px; -webkit-border-radius: 4px ; -ms-border-radius: 4px;
    padding:4px 6px;
    margin-bottom:8px;
    resize: none;
    width: 225px;
}
input[type="text"], input[type="password"] {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius:4px; -moz-border-radius:4px; -webkit-border-radius: 4px ; -ms-border-radius: 4px;
    height:24px; line-height:24px;
    padding:0px 6px;
    margin-bottom:8px;	
    width: 225px;
}
.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield, 
.ui-inputfield.ui-state-focus, .ui-widget-content .ui-inputfield.ui-state-focus, 
.ui-widget-header .ui-inputfield.ui-state-focus{
     border-radius:4px; -moz-border-radius:4px; -webkit-border-radius: 4px ; -ms-border-radius: 4px;
}
input.smallInput[type="text"], span.smallInput  {width: 90px;}

.formValue {width: auto;}
.formLabel { width: auto; min-width: 135px; vertical-align: top; padding-top: 4px;}

#bartertemplate-form-basic-info .formLabel{ width: auto; min-width: 135px; vertical-align: top; padding-top: 4px;}

input.datepicker[type="text"], span.calendar input { width:85px; text-transform: none;}
input.datetimepicker[type="text"],span.datetimepicker, span.calendar input { width:130px; text-transform: none;}

.ui-wizard textarea {min-height: 45px;}
.ui-wizard select {margin-left: 3px;}

.viewValueLabel {margin-bottom: 5px; width: 225px; border-color: #ddd; background-color: #f8f8f8; }


/*BUTTONS*/
.ui-button.ui-state-default, .ui-button.ui-state-default.ui-state-disabled, input[type="submit"] {
    font-size: 13px;
    padding: 6px 10px;
    height:auto;
    background: none;
    border: none;
    background-color: #d96938;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    border-radius:4px; -moz-border-radius:4px; -webkit-border-radius: 4px ; -ms-border-radius: 4px;
    -moz-box-shadow: 1px 1px 2px #fff; -webkit-box-shadow: 1px 1px 2px #fff; 
    box-shadow: 1px 1px 2px #fff;
    
}
.ui-button.ui-state-hover,.ui-button.ui-state-focus,.ui-button.ui-state-active, button:hover,input[type="reset"]:hover,input[type="submit"]:hover,input[type="button"]:hover{
    background: none;
    background-color: #fa9a10;  
    text-decoration:none; 
    border: 0 none; 
}
.ui-datepicker-trigger.ui-button.ui-state-default.ui-button-icon-only{
    padding:0; border:none; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; width:29px;}




/* TE BOROOOOOOOO*/

/*
#sale-search .formLabel { width:120px;}

#bartertemplate-form-basic-info .formValue { padding-bottom: 0px;}

.grid div.formValue {padding-right: 0px;}

.ui-wizard .ui-dialog .ui-dialog-content input{ margin:0 0 8px 10px; width: 215px;}
.ui-wizard .ui-dialog .ui-dialog-content input.datetimepicker[type="text"] {width: 130px;}
.ui-wizard .ui-dialog .ui-dialog-content select{ margin:0 0 0 10px; width: 230px;}

.formRow > td > label{min-width: 105px; display: block;}
div#form-content > table td > table {margin-right: 30px;}
div#form-content > table td:last-of-type > table {margin-right: 0px;}
div#form-content > div > button.ui-button-text-only {margin: 0 0 10px 0px;}

.outputTextForm {
    padding: 0 0 8px 0;
    color: #646d52;
    margin-top: -5px;
}

.ui-wizard > ul li:last-child ul li:last-of-type:after {display: none;}

.ui-widget-content > label:first-of-type { 
    font-size: 16px;
    display: block;
    margin: 0 0 9px 5px;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, 
.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {

    background: none;
    background-color: #ccc;
    color:#fff;
    font-weight:normal;
    border: 1px solid #666;
}


.ui-wizard .ui-dialog .ui-dialog-content table td:first-of-type {padding-right: 25px;}
.ui-wizard .ui-dialog .ui-dialog-content #bartertemplate-form-basic-info table td:last-of-type  div > div.formLabel {
    min-width:85px;
    width:85px;
}
.ui-wizard .ui-dialog .ui-dialog-content #bartertemplate-form-basic-info table td:last-of-type  span > div.formLabel {
    min-width:85px;
    width:85px;
}

.ui-wizard-step-title.ui-state-highlight {background-color: #eaeaea;}
.ui-wizard-step-title.ui-state-highlight a {color: #666; text-shadow: none;}
.ui-wizard-step-title.ui-state-highlight:after { border-left-color: #eaeaea;}

*/

/*
fieldset h2 { margin-bottom:10px;}
div#container {padding-bottom: 90px; overflow: hidden;}
.page-login { background:url(../images/bg_inicio.jpg) no-repeat center top;}
*/

/*

.ui-button-without-bg, input.ui-button-without-bg, .ui-button.ui-state-default.ui-button-without-bg, input.ui-button-without-bg:hover { 
    padding:0; border:none; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;}

.btn-detail, .btn-gear, .btn-pay {width:16px;}

*/

/*ICON BUTTONS*/

/*
.ui-button-text-icon-left .ui-button-text { padding:0 0 0 18px;}
td.actionCol .ui-button.ui-button-icon-only, td.actionCol a.icon-only { margin:1px 2px;}
.ui-button-without-bg .ui-icon.ui-icon-search { margin-top:-10px;}
.ui-icon-search, .ui-button-without-bg .ui-icon.ui-icon-search { background-position:0 -35px !important;}

*/















/* TABLE DATA */
.ui-datatable{margin-bottom: 15px;
}

.ui-datatable table {
    border: none;
    border-top: 1px solid #ddd;
    margin-top: 10px;
}
.ui-datatable-scrollable-header{width: 98%;}
.ui-datatable-scrollable-body {width: 98%;}
.ui-datatable th.ui-state-default { background-color:#555;}
.ui-datatable th div.ui-dt-c, .ui-datatable .ui-datatable-data td div.ui-dt-c, .ui-datatable .ui-datatable-data-empty td div.ui-dt-c, .ui-datatable tfoot td div.ui-dt-c { padding:1px 0;}

.ui-datatable th.ui-sortable-column div.ui-dt-c{
    padding: 2px 16px 2px 0;
}

.ui-datatable table tbody > tr:last-of-type {border-bottom: 3px solid #666; margin-bottom: 25px;}

.ui-datatable-scrollable .ui-datatable-scrollable-header-box, .ui-datatable-scrollable .ui-datatable-scrollable-footer-box {
    padding-right: 0;  width: 100%;
}
.ui-datatable-scrollable .ui-datatable-scrollable-body table, .ui-datatable-scrollable .ui-datatable-scrollable-header table, 
.ui-datatable-scrollable .ui-datatable-scrollable-footer table{ width: 100%; margin-top: 0px;}

.ui-datatable-scrollable {position: relative; overflow: hidden;}
.ui-datatable-scrollable .ui-datatable-scrollable-header th:last-of-type{padding-right: 18px;}
.ui-datatable-scrollable .ui-datatable-scrollable-body{max-height: 192px; overflow-y: scroll;}

.ui-datatable table {width: 98%; }

.ui-dialog .ui-datatable table { /*width: auto;*/ margin: 0;}
.ui-dialog .ui-datatable-scrollable {margin-bottom: 15px;}
.ui-dialog .ui-datatable-scrollable .ui-datatable-scrollable-header th:last-of-type{padding-left: 16px;}

.ui-dialog-content .ui-datatable.wagons {width: 670px;}
.ui-dialog-content .ui-datatable.wagons.scrollTable {width: 100%;}
.ui-dialog .ui-dialog-content .ui-datatable .wagons.scrollTable { width: 100%;}

.ui-datatable-scrollable.wagons {margin-bottom: 10px;}





/*ICONOS*/
.ui-button-icon-only { width:16px;}
.icon-search { width:16px; height:16px; background:url("../images/icons/set_gray.png") no-repeat 0 0 transparent !important; }
.icon-clear { width:16px; height:16px; background:url("../images/icons/set_gray.png") no-repeat -34px -51px transparent !important; }

.ui-icon-disk {width:16px; height:16px; background:url("../images/icons/set_gray.png") no-repeat -34px -17px transparent !important;  }
.ui-icon-print {width:16px; height:16px; background:url("../images/icons/set_gray.png") no-repeat -51px 0px transparent; }
.ui-fieldset-content .icon-clear { border-left:1px solid #ccc;}
.ui-datepicker-trigger.ui-button-icon-only .ui-icon-calendar { background:url("../images/icons/set_gray.png") no-repeat -17px -34px transparent;}

.ui-icon-trash,.ui-button-without-bg .ui-icon.ui-icon-trash { background:none !important; } /*redefine icon white*/
.ui-button .ui-icon.ui-icon-trash { width:16px; height:16px; background:url("../images/icons/set_white.png") no-repeat -17px -17px transparent !important; }
.ui-button.ui-button-without-bg .ui-icon.ui-icon-trash { width:16px; height:16px; margin:-8px 0 0 -8px; background:url("../images/icons/set_gray.png") no-repeat -17px -17px transparent !important; }

.ui-icon-disk,.ui-button-without-bg .ui-icon.ui-icon-disk { background:none !important; } /*redefine icon white*/
.ui-button .ui-icon.ui-icon-disk { width:16px; height:16px; background:url("../images/icons/set_white.png") no-repeat -34px -17px transparent !important; }
.ui-button.ui-button-without-bg .ui-icon.ui-icon-disk { width:16px; height:16px; margin:-8px 0 0 -8px; background:url("../images/icons/set_gray.png") no-repeat -34px -17px transparent !important; }

.ui-button-without-bg .ui-icon.ui-icon-detail{ width:16px; height:16px; margin:-8px 0 0 -8px; background:url("../images/icons/set_gray.png") no-repeat 0 0 transparent !important;}
.ui-button-without-bg .ui-icon.ui-icon-gear { width:16px; height:16px; margin:-8px 0 0 -8px; background:url("../images/icons/set_gray.png") no-repeat -17px 0 transparent !important;}
.ui-button-without-bg .ui-icon.ui-icon-extrato { width:16px; height:16px; margin:-8px 0 0 -8px; background:url("../images/icons/set_gray.png") no-repeat -34px 0 transparent !important;}
.ui-button-without-bg .ui-icon.ui-icon-print { width:16px; height:16px; margin:-8px 0 0 -8px; background:url("../images/icons/set_gray.png") no-repeat -51px 0px transparent !important;}
.ui-button-without-bg .ui-icon.ui-icon-pay { width:16px; height:16px; margin:-8px 0 0 -8px; background:url("../images/icons/set_gray.png") no-repeat -68px 0px transparent !important;}
.ui-button-without-bg .ui-icon.ui-icon-files { width:16px; height:16px; margin:-8px 0 0 -8px; background:url("../images/icons/set_gray.png") no-repeat -85px 0px transparent !important;}
.ui-icon-search, .ui-button-without-bg .ui-icon.ui-icon-search { width:16px; height:16px; margin:-8px 0 0 -8px; background:url("../images/icons/set_gray.png") no-repeat 0 0 transparent !important;}

.ui-icon-pdfReaderIcon, .ui-button-without-bg .ui-icon.ui-icon-pdfReaderIcon { width:16px; height:16px; margin:-8px 0 0 -8px; background:url("../images/icons/set_gray.png") no-repeat -51px -17px transparent !important;}
.ui-icon-undo, .ui-button-without-bg .ui-icon.ui-icon-undo { width:16px; height:16px; margin:-8px 0 0 -8px; background:url("../images/icons/set_gray.png") no-repeat -34px -34px transparent !important;}
.ui-icon-infoBillingAction, .ui-button-without-bg .ui-icon.ui-icon-infoBillingAction { width:16px; height:16px; margin:-8px 0 0 -8px; background:url("../images/icons/set_gray.png") no-repeat -68px -17px transparent !important;}
.ui-icon-grower, .ui-button-without-bg .ui-icon.ui-icon-grower { width:16px; height:16px; margin:-8px 0 0 -8px; background:url("../images/icons/set_gray.png") no-repeat -51px -34px transparent !important;}

.icon-status-positive{width:16px; height:16px; background:url("../images/icons/set_gray.png") no-repeat -68px -34px transparent !important; }
.icon-status-negative{width:16px; height:16px; background:url("../images/icons/set_gray.png") no-repeat -85px -34px transparent !important; }
.icon-sync{width:16px; height:16px; background:url("../images/icons/set_gray.png") no-repeat -85px -17px transparent !important; }

.ui-button-without-bg .ui-icon.ui-icon-status-positive { width:16px; height:16px; margin:-8px 0 0 -8px; background:url("../images/icons/set_gray.png") no-repeat -68px -34px transparent !important;}
.ui-button-without-bg .ui-icon.ui-icon-status-negative{ width:16px; height:16px; margin:-8px 0 0 -8px; background:url("../images/icons/set_gray.png") no-repeat -85px -34px transparent !important;}
.ui-button-without-bg .ui-icon.ui-icon-sync{ width:16px; height:16px; margin:-8px 0 0 -8px; background:url("../images/icons/set_gray.png") no-repeat -85px -17px transparent !important;}

.its-command-icon .ui-button.ui-state-default {height: 17px; margin: 0 0 0px 2px; box-shadow: none;}






/*MESSAGE*/
.ui-messages-info, .ui-messages-warn, .ui-messages-error, .ui-messages-fatal { 
    border-radius:0; -moz-border-radius:0; -webkit-border-radius: 0; -ms-border-radius:0;
    margin: 5px 0;
}

/* ACORDION */
.ui-accordion-header.ui-state-default {background: linear-gradient(to bottom, #666666 0%, #444444 100%) repeat scroll 0 0 transparent;}
.ui-accordion-header.ui-state-default a, .ui-accordion-header.ui-state-default a:link, .ui-accordion-header.ui-state-default a:visited { color:#fff;}
.ui-accordion-header.ui-state-default .ui-icon { background-image:url("../images/ui-icons_ffffff_256x240.png");}
.ui-accordion-content.ui-widget-content { padding:10px;}

/*DIALOGS*/
.ui-dialog { padding: 20px; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius: 4px ; -ms-border-radius: 4px;}
.ui-dialog .ui-dialog-titlebar { padding:0 0 5px 0; border-bottom: 1px solid #ccc; margin:0 0 10px 0;}
.ui-dialog .ui-dialog-title { font-size:20px; font-weight:normal;}
.ui-dialog .ui-dialog-content { padding:0;}
.ui-dialog .ui-dialog-content .ui-button.ui-button-text-only{ margin:10px 4px 0 4px;}
.growerDialogLabel { min-width:75px; padding-right:5px; width:auto;}
.ui-widget-overlay {background: url("/images/ui-bg_flat_0_2d5972_40x100.png.jsf?ln=primefaces-aristo") repeat-x scroll 50% 50% #000000;}
.ui-shadow {box-shadow:0 2px 5px rgba(0, 0, 0, 0.4);}


/*UPLOAD FILES*/
.fileupload-content { padding:8px;}
.fileupload-buttonbar { padding:10px; margin:0 0 2px 0;}
.ui-button.fileinput-button { padding:4px 18px;}
.ui-widget-header {background: none; border: none;}
table.files .template-upload.ui-state-error td, table.files .template-upload  td { padding:4px 12px; float:left; min-height:15px;}
table.files .template-upload  td.cancel { padding:4px 4px;}
table.files .template-upload  td.start { padding:4px 4px; }
.files .preview {}
.files .name { min-width:175px;}
.files .size { min-width:65px;}
.files .error { min-width:145px;}
.ui-fileupload.ui-widget .files button { height:auto; padding-left:23px;}
.ui-fileupload.ui-widget .files button .ui-button-icon-left { left:4px;}
.ui-fileupload.ui-widget .cancel button { width:82px;}
.ui-fileupload.ui-widget .start button  { width:95px;}
.ui-progressbar { margin-top:2px;}


/*PAGINADOR*/
.ui-datatable .ui-paginator { padding:7px 5px 5px 5px;  /*text-align: right;*/ }
.ui-paginator .ui-paginator-page, .ui-paginator .ui-paginator-pages, .ui-paginator .ui-paginator-next, .ui-paginator .ui-paginator-last, 
.ui-paginator .ui-paginator-first, .ui-paginator .ui-paginator-prev, .ui-paginator .ui-paginator-current { padding:2px 3px;}
.ui-paginator .ui-paginator-page, .ui-paginator .ui-paginator-next, .ui-paginator .ui-paginator-last, .ui-paginator .ui-paginator-first, 
.ui-paginator .ui-paginator-prev, .ui-paginator .ui-paginator-current { background:none; background-color:#fff; border:1px solid #ccc; color:#444; border-top:1px solid #ccc; border-right:1px solid #ccc; text-align: center;}
.ui-paginator .ui-paginator-page.ui-state-active { background: none; background-color: #d96938; border-color: #d96938; font-weight:normal;}
.ui-paginator-page:hover { background-color:#999; color:#fff; border-bottom:1px solid #666; border-right:1px solid #666;}
.ui-paginator .ui-paginator-current, .ui-paginator .ui-paginator-rpp-options{width: auto; margin-right:0; font-weight: normal;}
.ui-datatable table tfoot .ui-paginator { padding:15px 0px 5px 5px; }



/*FOOTER*/
div#footer .horizontal-line { display:none;}
div#footer .footer-left{ padding:0 0 0 30px; width:500px;}
div#footer .footer-left p{ font-size:11px; margin:5px 0 0; float:left; min-width:80px;}
div#footer .footer-right{ padding:0 30px 0 0;}
div#footer a { color:#333;}
div#footer a:hover { color:#222;}
div#footer ul.horizontal-menu { float:left; margin:16px 0 0 0;}
div#footer ul.horizontal-menu li { padding:0 10px 0 0; margin:0px 10px 0px 0; font-size:12px; color:#666;}
.afip { float:left; margin:2px 20px 0 0;}
.afip img{ width:38px;}


/*Error Pages*/
.e-500{ margin:auto; width:417px; text-align:center;}


/*TERMINOS Y CONDICIONES*/
.terms { max-width:840px;}
.terms p{ margin:5px 0 15px 0;}
.terms h1{  margin:10px 0 20px 0;}
.terms h4{ margin:15px 0 2px 0; color:#333;}







/****************  PARTICULARES  ****************************************************/

.ui-datepicker{z-index:9999 !important;}

/*#bartertemplate-form-basic-info .origin .label:nth-of-type(2) .formLabel {min-width: 100px;} */
#bartertemplate-form-basic-info .origin .label:nth-of-type(3) .formLabel {min-width: 55px;} 
.origin .location-component .formLabel {width: 100px;}


.qualityItem { padding: 15px 0; margin-top: 10px; border-top: 1px dotted #999;}
.ui-wizard .ui-dialog .ui-dialog-content .qualityItem input{ width: 50px;}

.ui-wizard .ui-dialog .ui-dialog-content .qualityItem .ui-button.ui-button-text-only {margin: -8px 0 0 20px; padding: 6px 8px;}

.ui-wizard .ui-dialog .ui-dialog-content .qualityItem td:nth-of-type(2) .formValue{ width: 95px;}
.ui-wizard .ui-dialog .ui-dialog-content .qualityItem td:nth-of-type(3) .formValue{ width: 95px;}

#bartertemplate-form-basic-info .qualityItem td:nth-of-type(2) .formLabel{ min-width: 25px; padding-left: 35px;}
#bartertemplate-form-basic-info .qualityItem td:nth-of-type(3) .formLabel{ min-width: 25px;}




#bartertemplate-form-basic-info .dischargeTruck tr:nth-of-type(1) td:nth-of-type(1) .formLabel {min-width: 180px;}
#bartertemplate-form-basic-info .dischargeTruck tr:nth-of-type(2) td table tr:nth-of-type(2) td:nth-of-type(1) .formLabel {min-width: 80px;}
#bartertemplate-form-basic-info .dischargeTruck tr:nth-of-type(2) td table tr:nth-of-type(2) td:nth-of-type(2) .formLabel {min-width: 80px;}
#bartertemplate-form-basic-info .dischargeTruck tr:nth-of-type(2) td table tr:nth-of-type(2) td:nth-of-type(2) .formValue {width: auto;}

.ui-wizard #bartertemplate-form-basic-info .dischargeTruck tr:nth-of-type(2) td:nth-of-type(2) input{min-width: 120px;}


#bartertemplate-form-basic-info .dischargeTruck  .dischargeTruckWeight > tbody > tr td:nth-of-type(1) .formLabel {min-width: 90px;}
#bartertemplate-form-basic-info .dischargeTruck  .dischargeTruckWeight > tbody > tr td:nth-of-type(2) .formLabel {min-width: 87px;}
#bartertemplate-form-basic-info .dischargeTruck .dischargeTruckWeight .viewValueLabel{width: 130px;}

#bartertemplate-form-basic-info table td table .formRow {padding-right: 35px; display: block;}
#bartertemplate-form-basic-info table td:nth-of-type(3) table .formRow {padding-right:0;}


.form-btn-container.w100 {width: auto;}
.ui-confirm-dialog-severity {margin: 0px 5px 0px 0;}


/*.label-component.laidDate{padding-right: 9px;}*/
.label-component.chargeDate{padding-right: 44px;}

/****************  FIN PARTICULARES  ****************************************************/


/****************   BUSQUEDAS   **********************/

.ui-panel .ui-panel-title {font-size: 16px; font-weight: normal;}
#footer .ui-panel .ui-panel-title {font-size: 12px;}
#bartertemplate-form-basic-info fieldset {padding: 10px 15px; margin-bottom: 4px;}
#bartertemplate-form-basic-info fieldset .ui-widget-content { border: none; margin: 0; padding:0px;}
#bartertemplate-form-basic-info fieldset .ui-dialog.ui-widget-content {padding:20px;}

#bartertemplate-form-basic-info fieldset .ui-widget-content .ui-panel-titlebar { padding:0; margin-bottom: 15px;}
#bartertemplate-form-basic-info fieldset  .ui-widget-content.advancedFiltersPanel .ui-panel-titlebar{
    background-color: #847e7c;
    margin-top: 15px;
    padding: 7px 10px;
}
#bartertemplate-form-basic-info fieldset  .ui-widget-content.advancedFiltersPanel .ui-panel-titlebar.ui-widget-header{
  color: #fff;
  text-shadow: 0px 1px 0px rgba(109,102,99,0.85);
}
.advancedFiltersTrain > label:nth-of-type(1){ font-weight: bold; font-size: 14px;}
.advancedFiltersTrain > label:nth-of-type(2){ font-weight: bold; font-size: 14px;}
.advancedFiltersTrain label.required {display: block;}
.advancedFiltersTrain > table:nth-of-type(1) > tbody > tr > td:nth-of-type(2) { padding-left:35px;}

.advancedFiltersTruck table td table tbody > tr:nth-of-type(2) > td:nth-of-type(2) label {
    min-width: 35px; padding: 0 5px 0 10px; display: block; margin-top: -5px;
}
.advancedFiltersTruck > table > tbody > tr > td:nth-of-type(2) { padding-left:35px;}


span.its-command-icon a.its-command-icon-link {display: inline-block;}
td[role="gridcell"] span.its-command-icon a.its-command-icon-link {margin:0 3px; }

#bartertemplate-form-basic-info fieldset .ui-button-text-only{float: right; margin-left: 5px;}
.rightAlignedButton {float: right; margin-right: 20px;}

#billoflading-btn fieldset {padding: 0; border: none; margin: 0; background-color: inherit;}






/* TABS */ 
/*
#user-registration-tabs{ margin:15px 0 10px 0; border-left:1px solid #ddd; padding-left:11px;}
#user-registration-tabs li{ background:none; background-color:#fff; line-height:31px; height:31px; color:#444;
                            border-top:1px solid #ddd; border-bottom:1px solid #ddd; padding:0px 15px; font-weight:normal; height:auto; margin-left:-11px;}
#user-registration-tabs li.user-registration-separator { width:11px; position:relative; height:31px;}
#user-registration-tabs li.user-registration-separator.last { margin:0; border:none;}
#user-registration-tabs li.user-registration-separator.user-registration-tab-active {}
#user-registration-tabs li.user-registration-tab-active { background-color:#444; color:#efefef;}
*/

/* FIELDSETS */ 

/*
fieldset, .ui-fieldset  { padding:12px 10px; background-color:#fff; border:1px solid #ccc; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius: 4px ; -ms-border-radius: 4px;}
.ui-fieldset  { padding:12px 10px; margin-bottom:10px;}
.ui-widget { font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#444;}
.ui-panelgrid-clean.ui-panelgrid td { height:auto; padding:1px;}
#userForm td.formCol0 { width:100px;}
.ui-panelgrid-clean.ui-panelgrid td.gridcell-label { padding:0 10px 0 40px;}
*/







/*BORRARR***************************************************************************************/

/*LOGIN*/
/*
#loginBox { width:900px;  margin-top:-155px; min-height:240px; margin-left:-450px; padding:0; left:50%; top:50%; position:absolute; 
            border-radius:4px; -moz-border-radius:4px; -webkit-border-radius: 4px ; -ms-border-radius: 4px; background:none; background-color:#fcfcfc; box-shadow:0 0 2px rgba(0, 0, 0, 0.25) }
#loginPanel { margin-bottom:10px;}
.login-logo { padding:20px 30px; margin:0; width:389px; text-align:left;}
.login-logo span{ font-size:14px; float:left; margin:5px 0; color:#005838;}
.login-form { padding:25px 30px; margin:0; width:390px; min-height:10px;}
.login-form-reset {padding-top: 30px}
.login-form-change {padding-top: 30px; padding-bottom: 12px;}
.login-form h1{ font-size:18px; margin:10px 0 15px 0; line-height:21px; padding:4px 105px 0 0; color:#333; background:url(../images/logo_intacta.png) no-repeat right top; min-height:42px;}
.login-form-Col1 { width:280px;}
.login-error-panel { height:auto;}
.login-form input[type="text"], .login-form input[type="password"] { width:245px; margin-left:0px;}
.ui-messages.ui-widget { color:#D8000C;}

#loginBox.password { height:330px; margin-top:-200px;}
#loginBox.password .login-logo {background:url(../images/bg_new_pass.jpg) no-repeat right top; height:290px; 
                                border-radius:10px 0px 0px 10px; -moz-border-radius:10px 0px 0px 10px; -webkit-border-radius: 10px 0px 0px 10px; -ms-border-radius: 10px 0px 0px 10px; padding-top: 22px;}


*/



/****************  LOGIN  ****************************************************/
/*.login {background:url(../images/backgrounds/bg-1.jpg) no-repeat center top; }
.login.bkg-1 {background:url(../images/backgrounds/bg-1.jpg) no-repeat center top; }
.login.bkg-2 {background:url(../images/backgrounds/bg-2.jpg) no-repeat center top; }
.login.bkg-3 {background:url(../images/backgrounds/bg-3.jpg) no-repeat center top; }
.login.bkg-4 {background:url(../images/backgrounds/bg-4.jpg) no-repeat center top; }
.login.bkg-5 {background:url(../images/backgrounds/bg-5.jpg) no-repeat center top; }

.login .logo{ width: 225px; height: 80px; position: absolute; top: 15px; right: 15px; background:url(../images/monsanto-login.png) no-repeat;}

.login #content{
    width: 620px;
    height: 120px;
    position: absolute;
    left: 50%;
    top: 42%;
    margin: -60px 0 0 -310px;
    padding: 15px;
    background-color: #fff;
    border-radius:4px; -moz-border-radius:4px; -webkit-border-radius: 4px ; -ms-border-radius: 4px;
    border: 1px solid #efefef;
}
.login h2{font-size: 22px; color: #625c59; margin:5px 0 10px 0; padding-left: 10px;}
.login h2 span{color: #d96938; }

.login #contentArea{background: url(../images/background.png) repeat; padding:15px 10px; border-bottom: 1px solid #efefef;}

.login  div{ display: inline-block; margin-right: 15px;}
.login  div > span{ display:block; font-size: 14px; color: #444; margin-bottom: 5px;}
.login  div > button{ 
    background: none;
    background-color: #d96938;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-box-shadow: 1px 1px 2px #fff;
    -webkit-box-shadow: 1px 1px 2px #fff;
    box-shadow: 1px 1px 2px #fff;
    border: 0 none;
    font-size: 13px;
    padding: 6px 10px;
    height: auto;
    color: #fff;
    }

.login  div > input{
    background: white;
    color: #333;
    font-weight: normal;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border-color: #CCC;
    text-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 200px;
    border: 1px solid #ccc;
    height: 24px;
    line-height: 24px;
    padding: 0px 6px;
    margin-bottom: 8px;
    border-radius:4px; -moz-border-radius:4px; -webkit-border-radius: 4px ; -ms-border-radius: 4px;
}

.login #error {
    width: 620px;
    position: absolute;
    left: 0; bottom: -33px;
    padding: 8px 15px;
    background-color: #e95032;
    color: #fff;
    font-size: 11px;
    border-radius:4px; -moz-border-radius:4px; -webkit-border-radius: 4px ; -ms-border-radius: 4px;
    border: 1px solid #e95032;
}
*/

/****************  FIN LOGIN  ****************************************************/


/*TRANSPORT ICONS*/
.type-transport {
    display: block;
    position: relative;
    width: 200px;
    height: 150px;
    background-color: #fff;
    border: 1px solid #e3e5ef;
    padding: 5px;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    float: left;
    margin-left: 10px;
}

/* Nombre */
.type-transport .name {
    position: absolute;
    bottom: 3px;
    width: 200px;
    padding: 5px 0;
    color: #ffffff;
    text-align: center;
    font-family: "Arial", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    background-color: #6f7074;
}

/* Icono */
.type-transport .t-icon {
    background-image: url("../images/icons/iconos-transporte.png");
    margin: 25px auto;
}

.type-transport .t-icon.truck {
    background-position: 0px 0px;
    width: 122px;
    height: 64px;
}

.type-transport .t-icon.train {
    background-position: -123px 0px;
    width: 166px;
    height: 65px;
}

.type-transport .t-icon.boat {
    background-position: -290px 0px;
    width: 137px;
    height: 64px;
}

/* HOVERS */
.type-transport:hover {
    background-color: #6f7074;
}

.type-transport:hover .t-icon.truck {
    background-position: 0px -66px;
}

.type-transport:hover .t-icon.train {
    background-position: -123px -66px;
}
.type-transport:hover .t-icon.boat {
    background-position: -290px -66px;
}

/*TRANSPORT ICONS*/
